<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi app agraria{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('main.index') }}">Inicio</a>
    </nav>
    <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>
